.page-header
  = link_to shops_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_shop_path(@shop), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show shop

%dl.dl-horizontal
  %dt Name:
  %dd= @shop.name
  %dt Address:
  %dd= @shop.address
